Repository three-ping/MUDIUM_Frontend, pull requests merged in 2024-10, with the labels that each got.

#8 feat: 헤더 수정 및 회원가입 화면 개발중
  MUDIUM_Frontend/src/assets/kakao-icon.svg
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/router/signup.js
  MUDIUM_Frontend/src/views/SignupPage.vue
Labels: feat✨, FrontEnd🖌️

#9 feat: 게시글 상세조회 기능 추가
  MUDIUM_Frontend/src/components/board/pagination.vue
  MUDIUM_Frontend/src/router/board.js
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/views/board/BoardDetailView.vue
  MUDIUM_Frontend/src/views/board/BoardRoot.vue
  MUDIUM_Frontend/src/views/board/BoardView.vue
Labels: feat✨, FrontEnd🖌️

#10 feat: 자유게시글 수정 및 검색 기능 추가
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/src/components/common/Modal.vue
  MUDIUM_Frontend/src/router/board.js
  MUDIUM_Frontend/src/views/board/BoardCreate.vue
  MUDIUM_Frontend/src/views/board/BoardDetailView.vue
  MUDIUM_Frontend/src/views/board/BoardNoArgs.vue
  MUDIUM_Frontend/src/views/board/BoardUpdate.vue
  MUDIUM_Frontend/src/views/board/BoardView.vue
Labels: feat✨, FrontEnd🖌️

#13 [자유게시글] 좋아요 기능 / 삭제 기능 추가
  MUDIUM_Frontend/index.html
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/common/Like.vue
  MUDIUM_Frontend/src/components/common/Modal.vue
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/views/HomeView.vue
  MUDIUM_Frontend/src/views/board/BoardDetailView.vue
  MUDIUM_Frontend/src/views/board/BoardView.vue
Labels: feat✨, FrontEnd🖌️

#16 feat: 자유게시글 조회수 기능 추가
  MUDIUM_Frontend/src/views/board/BoardDetailView.vue
  MUDIUM_Frontend/src/views/board/BoardView.vue
Labels: feat✨, FrontEnd🖌️

#19 feat: 뮤지컬 작품순위 및 상세정보 + 별점 구현
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/App.vue
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/scope/StarRating.vue
  MUDIUM_Frontend/src/main.js
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/router/musical.js
  MUDIUM_Frontend/src/router/signup.js
  MUDIUM_Frontend/src/views/LoginPage.vue
  MUDIUM_Frontend/src/views/SignupPage.vue
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: feat✨, FrontEnd🖌️

#20 re: 주석처리
  MUDIUM_Frontend/src/router/index.js
Labels: FrontEnd🖌️, refactor✂️

#22 feat: 헤더 밑 구분선 추가 및 css 수정
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/router/index.js
Labels: feat✨, FrontEnd🖌️

#23 feat: 로그인 시 헤더에 캘린더 및 마이페이지 아이콘 추가
  MUDIUM_Frontend/src/assets/calendar-icon.svg
  MUDIUM_Frontend/src/assets/mypage-icon.svg
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/router/index.js
Labels: feat✨, FrontEnd🖌️

#24 feat: class less css 적용
  MUDIUM_Frontend/index.html
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/App.vue
  MUDIUM_Frontend/src/assets/images/Mudium.svg
  MUDIUM_Frontend/src/assets/images/MudiumText.svg
  MUDIUM_Frontend/src/assets/images/kakao-icon.svg
  MUDIUM_Frontend/src/assets/images/logo.svg
  MUDIUM_Frontend/src/assets/images/logo2.svg
  MUDIUM_Frontend/src/assets/images/profile_default.svg
  MUDIUM_Frontend/src/assets/styles/common.css
  MUDIUM_Frontend/src/assets/styles/main.css
  MUDIUM_Frontend/src/assets/styles/mudium.css
  MUDIUM_Frontend/src/assets/styles/ref_mainPage.html
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/layout/AppHeader.vue
  MUDIUM_Frontend/src/components/layout/Footer.vue
  MUDIUM_Frontend/src/components/layout/Modal.vue
  MUDIUM_Frontend/src/components/layout/Navigation.vue
  MUDIUM_Frontend/src/components/layout/ToggleTheme.vue
  MUDIUM_Frontend/src/main.js
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
  MUDIUM_Frontend/src/views/user/MyPage.vue
  MUDIUM_Frontend/src/views/user/components/SideBar.vue
  MUDIUM_Frontend/src/views/user/components/UserModal.vue
Labels: FrontEnd🖌️

#26 feat: 검색 기능 개발
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/App.vue
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/layout/AppHeader.vue
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: feat✨, FrontEnd🖌️

#29 feat: 리뷰 화면 구현하기
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/assets/images/comment.svg
  MUDIUM_Frontend/src/assets/images/like.svg
  MUDIUM_Frontend/src/assets/images/threeDots.svg
  MUDIUM_Frontend/src/components/review/ReviewDeleteModal.vue
  MUDIUM_Frontend/src/components/review/ReviewModal.vue
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/router/review.js
  MUDIUM_Frontend/src/views/review/ReviewDetailView.vue
  MUDIUM_Frontend/src/views/review/ReviewRoot.vue
  MUDIUM_Frontend/src/views/review/ReviewView.vue
Labels: feat✨, FrontEnd🖌️

#30 feat: 띄어쓰기 시 검색기능 개발
  MUDIUM_Frontend/src/App.vue
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: feat✨, FrontEnd🖌️

#35 [북마크] 북마크 버튼 생성
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/assets/bookmarks-fill.svg
  MUDIUM_Frontend/src/assets/bookmarks.svg
  MUDIUM_Frontend/src/components/bookmark/Bookmark.vue
Labels: feat✨, FrontEnd🖌️

#37 [북마크] 북마크 저장 목록 페이지 생성
  MUDIUM_Frontend/src/components/bookmark/Bookmark.vue
  MUDIUM_Frontend/src/components/bookmark/BookmarkList.vue
  MUDIUM_Frontend/src/components/bookmark/BookmarkModal.vue
  MUDIUM_Frontend/src/router/bookmark.js
  MUDIUM_Frontend/src/router/guidebook.js
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
Labels: feat✨, FrontEnd🖌️

#38 [가이드북] 가이드북 작품 추천/용어/매너 안내 컴포넌트 생성 및 메인 생성
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/guidebook/Etiquette.vue
  MUDIUM_Frontend/src/components/guidebook/IndexTab.vue
  MUDIUM_Frontend/src/components/guidebook/Recommended.vue
  MUDIUM_Frontend/src/components/guidebook/Terms.vue
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/views/guidebook/GuidebookMain.vue
Labels: feat✨, FrontEnd🖌️

#42 feat: 커스텀 티켓(이미지) 생성 조회
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/src/components/customticket/Customticket.vue
  MUDIUM_Frontend/src/components/layout/Navigation.vue
  MUDIUM_Frontend/src/components/layout/ToggleTheme.vue
  MUDIUM_Frontend/src/router/customticket.js
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: feat✨, FrontEnd🖌️

#43 refactor: 커스텀 티켓 폴더 경로 수정
  MUDIUM_Frontend/src/router/customticket.js
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/customticket/Customticket.vue
Labels: fix🛠️, FrontEnd🖌️

#44 [자유게시글] 대댓글 기능
  MUDIUM_Frontend/src/main.js
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/router/notice.js
  MUDIUM_Frontend/src/views/board/BoardComment.vue
  MUDIUM_Frontend/src/views/board/BoardDetailView.vue
  MUDIUM_Frontend/src/views/board/BoardNoArgs.vue
  MUDIUM_Frontend/src/views/board/BoardReply.vue
  MUDIUM_Frontend/src/views/board/BoardView.vue
  MUDIUM_Frontend/src/views/notice/NoticeDetailView.vue
  MUDIUM_Frontend/src/views/notice/NoticeRoot.vue
  MUDIUM_Frontend/src/views/notice/NoticeView.vue
Labels: feat✨, FrontEnd🖌️

#45 [공지게시글] 공지게시판 추가
  MUDIUM_Frontend/src/components/notice/pagination.vue
  MUDIUM_Frontend/src/router/notice.js
  MUDIUM_Frontend/src/views/notice/NoticeCreate.vue
  MUDIUM_Frontend/src/views/notice/NoticeDetailView.vue
  MUDIUM_Frontend/src/views/notice/NoticeRoot.vue
  MUDIUM_Frontend/src/views/notice/NoticeUpdate.vue
  MUDIUM_Frontend/src/views/notice/NoticeView.vue
Labels: feat✨, FrontEnd🖌️

#47 feat: 커스텀 티켓 삭제
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/customticket/Customticket.vue
Labels: feat✨, FrontEnd🖌️

#49 feat: 리뷰 좋아요 기능 개발
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/src/assets/images/comment.svg
  MUDIUM_Frontend/src/assets/images/like-fill.svg
  MUDIUM_Frontend/src/assets/images/like.svg
  MUDIUM_Frontend/src/components/review/ReviewDeleteModal.vue
  MUDIUM_Frontend/src/components/review/ReviewLike.vue
  MUDIUM_Frontend/src/components/review/ReviewModal.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
  MUDIUM_Frontend/src/views/review/ReviewDetailView.vue
  MUDIUM_Frontend/src/views/review/ReviewView.vue
  MUDIUM_Frontend/src/views/secret-review/SecretReviewDetailView.vue
  MUDIUM_Frontend/src/views/secret-review/SecretReviewRoot.vue
  MUDIUM_Frontend/src/views/secret-review/SecretReviewView.vue
Labels: feat✨, FrontEnd🖌️

#50 ADD: 메인화면 분리, 뮤지컬 검색 기능 추가
  MUDIUM_Frontend/src/components/AppHeader.vue
  MUDIUM_Frontend/src/components/review/ReviewCard.vue
  MUDIUM_Frontend/src/router/index.js
  MUDIUM_Frontend/src/router/musical.js
  MUDIUM_Frontend/src/views/main.vue
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: feat✨, FrontEnd🖌️

#52 fix: musical css 수정
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/main.js
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: fix🛠️, FrontEnd🖌️

#54 [캘린더] 캘린더에 이미지 불러오기
  MUDIUM_Frontend/src/assets/styles/caret-left.svg
  MUDIUM_Frontend/src/assets/styles/caret-right.svg
  MUDIUM_Frontend/src/components/calendar/Calendar.vue
  MUDIUM_Frontend/src/views/user/MyPage.vue
Labels: feat✨, fix🛠️, FrontEnd🖌️

#57 [캘린더] 캘린더 위치 변경
  MUDIUM_Frontend/src/components/calendar/Calendar.vue
  MUDIUM_Frontend/src/views/user/MyPage.vue
Labels: fix🛠️, FrontEnd🖌️

#59 feat: 커스텀 티켓 생성 조회 삭제 완료
  MUDIUM_Frontend/src/components/layout/SideBar.vue
  MUDIUM_Frontend/src/components/scope/StarRating.vue
  MUDIUM_Frontend/src/router/user.js
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/customticket/Customticket.vue
  MUDIUM_Frontend/src/views/main.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
  MUDIUM_Frontend/src/views/user/components/tabs/Tickets.vue
Labels: feat✨, FrontEnd🖌️

#60 feat: 일반로그인 커스텀 티켓 생성 수정 삭제
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/customticket/Customticket.vue
Labels: feat✨, FrontEnd🖌️

#61 [가이드북] 가이드북 탭 경로 연결
  MUDIUM_Frontend/src/components/guidebook/Etiquette.vue
  MUDIUM_Frontend/src/components/guidebook/IndexTab.vue
  MUDIUM_Frontend/src/components/guidebook/Recommended.vue
  MUDIUM_Frontend/src/components/guidebook/Terms.vue
  MUDIUM_Frontend/src/components/layout/Navigation.vue
  MUDIUM_Frontend/src/views/guidebook/GuidebookMain.vue
Labels: fix🛠️, FrontEnd🖌️

#62 [캘린더] 임시 캘린더 삭제
  MUDIUM_Frontend/src/views/user/components/tabs/Profile.vue
Labels: fix🛠️, FrontEnd🖌️

#63 fix: 커스텀 티켓 css 수정
  MUDIUM_Frontend/src/views/customticket/CustomTicketView.vue
  MUDIUM_Frontend/src/views/customticket/Customticket.vue
Labels: fix🛠️, FrontEnd🖌️

#64 feat: 통합검색 시 영화 제목 css수정
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: fix🛠️, FrontEnd🖌️

#65 FIX: 별점 기능 수정
  MUDIUM_Frontend/package-lock.json
  MUDIUM_Frontend/package.json
  MUDIUM_Frontend/src/components/review/ReviewCard.vue
  MUDIUM_Frontend/src/components/scope/StarRating.vue
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/musical/MusicalView.vue
Labels: fix🛠️, FrontEnd🖌️

#66 FIX: 카카오 로그인으로도 회원 번호를 받을 수 있도록 처리
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
Labels: fix🛠️, FrontEnd🖌️

#67 feat: 뮤지컬 detail css수정
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
Labels: fix🛠️, FrontEnd🖌️

#68 refactor: 리뷰 수정
  MUDIUM_Frontend/src/components/review/ReviewDeleteModal.vue
  MUDIUM_Frontend/src/components/review/ReviewLike.vue
  MUDIUM_Frontend/src/components/review/ReviewModal.vue
  MUDIUM_Frontend/src/main.js
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/review/ReviewDetailView.vue
  MUDIUM_Frontend/src/views/review/ReviewView.vue
  MUDIUM_Frontend/src/views/secret-review/SecretReviewDetailView.vue
  MUDIUM_Frontend/src/views/secret-review/SecretReviewView.vue
  MUDIUM_Frontend/src/views/user/MyPage.vue
  MUDIUM_Frontend/src/views/user/components/tabs/MyReviews.vue
Labels: fix🛠️, FrontEnd🖌️, refactor✂️

#69 refactor: 리뷰 기능 수정
  MUDIUM_Frontend/src/views/musical/MusicalDetailView.vue
  MUDIUM_Frontend/src/views/user/components/tabs/MyReviews.vue
Labels: fix🛠️, FrontEnd🖌️, refactor✂️
